body {
    justify-items: center;
    align-content: center;
    height: 100vh;
    background: #772a96;
    background: radial-gradient(circle, rgba(119, 42, 150, 1) 0%, rgba(31, 11, 31, 1) 100%);
}